/* @import url('https://fonts.googleapis.com/css?family=Tangerine:wght@400;700&display=swap'); */
@import url('https://fonts.googleapis.com/css2?family=Noto+Serif:wght@400;700&display=swap');

:root{
  --primary: #a36e69;
  --secondary: #4e4e4e;
  --error: #ff4a4a;
}
/* base styles & title */

body{
  background-image: linear-gradient(-225deg, #e3fdf5, #ffe6fa 100%);
  background-image: linear-gradient(to top, #a8edea 0%, #fed6e3);
  background-attachment:fixed;
  background-repeat: no-repeat;

  font-family: 'Vibur', cursive;
  font-family: 'Abel',sans-serif;
  opacity: .95;

  /* font-family: "Noto Serif"; */
  font-family: "Nunito";
  color: var(--secondary);
}

.App{
  max-width: 960px;
  margin: 0 auto;
}

.title h1{
  color: var(--primary);
  font-size: 1.2rem;
  letter-spacing: 2px;
  font-weight: normal;
  margin-left: 10px;
}
.title h2, .title p{
  text-align: center;
}
.title h2{
  margin-top: 60px;
  font-size: 2.6rem;
}

/* upload form style  */
form{
  margin: 30px auto 10px;
  text-align: center;
}
.upload-btn input{
  height: 0;
  width: 0;
  opacity: 0;
}
.upload-btn{
  display: block;
  width: 30px;
  height: 30px;
  border: 1px solid var(--primary);
  border-radius: 50%;
  margin: 10px auto;
  line-height: 30px;
  color: var(--primary);
  font-weight: bold;
  font-size: 30px;
}
.upload-btn:hover{
  background: var(--primary);
  color: white;
}
.output{
  height: 60px;
  font-size:  0.8rem;
}
.error{
  color: var(--error);
}
/* progress bar style */
.progress-bar{
  height: 5px;
  background: var(--primary);
  margin-top: 20px;
}
/* image grid style */
.img-grid{
  margin: 20px auto;
  padding-left: 10px ;
  padding-right: 10px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 40px;
}
.img-wrap{
  overflow: hidden;
  height: 0;
  padding: 50% 0;
  position: relative;
  opacity: 1;
  filter: blur(8px);
}
.img-wrap img{
  min-width: 100%;
  min-height: 100%;
  max-width: 150%;
  position: absolute;
  top: 0;
  left: 0;
}
/* modal style */
.backdrop{
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
}

.backdrop img{
  display: block;
  max-width: 60%;
  max-height: 80%;
  margin: 60px auto;
  box-shadow: 3px 5px 7px rgba(0, 0, 0, 0.5);
  border: 3px solid white;
}

/*  Alert   */


.alert-msg{
  height: 20vh;
  max-width: 40%;
  max-height: 80%;
  margin: 30vh auto;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  box-shadow: 3px 5px 7px rgba(0, 0, 0, 0.5);
  background-color: rgb(243, 237, 233);
  border: 3px solid white;
}

.alert-msg h1{
  color: #ff4a4a;
  text-align: center;
}

/*  Toggle   */
.toggle{
width: 150px;
height: 50px;
margin: auto;
padding-top: 15px;
}

.navbar{
  display: flex;
  background-color: royalblue;
  height: 0px;
  justify-content: flex-end;
  
}

.btn{
    color: #252537;

    width: 150px;
    height: 50px;
    flex-basis: 150px;

    background: #fff;
    border-radius: 50px;

    outline: none;
    border: none;

    cursor:pointer;
    text-align: center;
    transition: all 0.2s linear;
    
    
    margin: 3px ;
    letter-spacing: 0.05em;
}

.logout{
  order: 2;
}

.profile{
  text-decoration: none;
  padding-top: 1rem;
  order: 1;
}

.profile-container{
  margin: 20% 5% auto;
  max-width: 100%;
  max-height: 100%;
  width: 50vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items:flex-start;
  clear: both;
}

.profile-label{
  margin-right: 5px;
}

.profile-info{
  text-align: left;
  float:right;
  margin-right: auto;
  font-size: medium;
}